
/**
 * Broadcast notices:
 */

 #threewp_broadcast.postbox .custom_fields{
     display: none;
 }
 
.broadcast-notice{
	padding: 5px 15px 5px 30px;
	border-left: 6px solid crimson;
	background: white;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	display: block;
	margin-top: 30px;

	h3{
		color: crimson;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}

	p{
		max-width: 600px;
		padding-bottom: 10px;
		margin-bottom: 0;
	}
}

.broadcast-child{
	opacity: .6;
	
	&.media-page{
		display: none;
	}
}

