@import 'bourbon';

.field-wrapper.button-field{

	position: relative;

	.button-wrapper{
		@include display( flex );
		@include justify-content( space-between );
		@include align-items( center );

		.button-settings{
			margin-left: 20px;
		}

		> .field-wrapper{ margin: 0 15px 0 0; }
		

		.button-settings .dashicons{
			width: 28px;
			height: 28px;
			background: #eee;
			border: 1px solid rgba(0,0,0,.3);
			border-radius: 4px;
			line-height: 28px;
			text-align: center;
			vertical-align: middle;
			padding: 0;

			&:hover{
				background: rgba(0,0,0,.6);
				color: #fff;
				cursor: pointer;
			}	
		}

		.type-sub-menu{

			position: absolute;
			padding: 10px;
			background: rgba(0,0,0,.5);
			border-radius: 4px;
			bottom: 100%;
			left: 0;
			right: 0;
			margin-bottom: -10px;
			display: none;


			&.active{
				display: block;
			}

			&:after{
				position: absolute;
				content:'';
				width:0;
				height:0;
				top: 100%;
				right: 6px;
				border: 10px solid rgba(0,0,0,.5);
				border-color: rgba(0,0,0,.5) transparent transparent transparent;
			}

			.type-select{
				position: relative;
				top: auto;
				right: auto;
			}

			label{
				color: white;
			}
		}

		.chosen-container{
			width: 100% !important;
		}
	}
}

.repeatable .button-field{
	margin-right: 0 !important;
	float: none !important;
	width: 100% !important;
}