
/**
 * Icon field
 */

.svg_img{
	height: 30px;
	width: 30px;
	background-size: contain;
	background-position: center center;
	display: inline-block;
	margin-right: 10px;
	
	&.fill{
		fill: #444;
		stroke: transparent;
	}

	&.stroke{
		fill: transparent;
		stroke: #000;
	}
}


.svg_img + span{
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.icon-dropdown .chosen-container-single .chosen-single{
	height: 35px !important;
}

.icon-dropdown .chosen-container-single div b{
	background-position: 0px 7px;
}

.section-columns .column .lightbox .icon-dropdown .chosen-container,
.section-columns .column .lightbox .icon-dropdown .chosen-container .chosen-single,
.section-columns .column .lightbox .icon-dropdown .chosen-container .chosen-drop{
  	width: 100% !important;
}

.icon-dropdown .chosen-container-single .chosen-single > span,
.icon-dropdown .chosen-container .chosen-results li
{
	display: flex;
}

/* Tag image */
.chose-image {
	width:55px;
	max-height:55px;
	padding: 2px 5px 3px 0px;
	vertical-align:middle;
}

.chose-image.rtl {
	padding: 2px 0px 3px 5px;
}

/* Image for Single mode */
.chose-image-small {
	width: 16px;
	max-height: 16px;
	vertical-align: middle;
	margin: -3px 3px 0 0;
}

.chose-image-small.rtl {
	margin: -3px 0 0 3px;
}

/* Images appended to the li(s) */
.chose-image-list {
	width: 16px;
	max-height: 16px;
	vertical-align: middle;
	margin: -3px 3px 0 0;
}

.chose-image-list.rtl {
	margin: -3px 0 0 3px;
}

/* Grey-out image for Multi mode */
.chosen-container-multi .result-selected img {
	opacity: 0.3;
}