.settings-panel.sizes.active{
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	@include flex-flow( row wrap );

	h2{
		@include flex( 1 0 100% );
	}

	.field-wrapper{
		@include flex( 1 0 20% );
		max-width: 23.5%;
	}
}

#main-section-container .section-container .tabbed-sections .section-sortables .tab > .pin, #main-section-container .section-container .tabbed-sections .section-sortables .section-placeholder{
	background: #ddd;
	color: #444;
}

.section-tab-settings-btn{
	display: none !important;
}

.lightbox .field-wrapper .subfield-wrapper.hidden{
	display: none;
}

.lightbox .slidertime{
	margin-top: -31px;
	background: #F8F8F8;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.settings-panel.design.active{
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	@include flex-flow( row wrap );

	h2{
		@include flex( 1 0 100% );
	}

	.field-wrapper{
		@include flex( 1 0 40% );
		max-width: 47.5%;

		.image-field{
			@include display( flex );
			@include justify-content( flex-start );
			@include align-items( center );

			.img-wrapper{
				width: 50px;
				height: 50px;
				margin: 0 30px 0 0;

				img{
					max-width: 100%;
					max-height: 100%;
				}
			}

			.btn-wrapper{
				@include flex( 1 );
				@include display( flex );
				@include justify-content( flex-start );
				@include align-items( center );

				.remove-img-source{
					padding-top: 0;
				}
			}
		}
	}
}

.slidertime{
    text-align: left;

    input{
        width: 80% !important;
        padding: 0 10px !important;
        display: inline-block;
    }

    &::after{
        content: 'ms';
        width: 10%;
        display: inline-block;
        padding-left: 3px;
    }
}