/**
 * Site settings:
 */

#tab-menus .subfield-wrapper{
	display: block;
	width: 100%;
}

.mce-fullscreen #adminmenu{
	display: none;
}

/**
 * Section view settings:
 */

.section-wrapper .section-controls .radio > span{
	&.three-columns-left, &.valthree-columns-left{
		background:url("../images/three-columns-left.png");
	}	

	&.three-columns-middle, &.valthree-columns-middle{
		background:url("../images/three-columns-middle.png");
	}

	&.three-columns-right, &.valthree-columns-right{
		background:url("../images/three-columns-right.png");
	}

	label{
		text-indent:-9999px;
	}
}

#tab-menus{

	.menu-img-container{
		width: 100%;
		height: 170px;
		background: url( '../images/menu-1.png' ) no-repeat top center;
		background-position: 100% auto;

		&.menu-2{
			background-image: url('../images/menu-2.png' );
		}

		&.menu-3{
			background-image: url('../images/menu-3.png' );
		}

		&.menu-4{
			background-image: url('../images/menu-4.png' );
		}

		&.menu-5{
			background-image: url('../images/menu-5.png' );
		}

		&.menu-101{
			background-image: url('../images/menu-101.png' );
			width: 30%;
    		height: 450px;
    		background-position: top left;
    		background-size: auto 100%;
    		margin-bottom: 15px;


			+ .field-wrapper.select{
			    float: right;
			    margin: -450px 0 0 0;
			    width: 90%;
			    right: 0;
			}
		}
	}
}