.field-wrapper.button-field {
  position: relative;
}
.field-wrapper.button-field .button-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.field-wrapper.button-field .button-wrapper .button-settings {
  margin-left: 20px;
}
.field-wrapper.button-field .button-wrapper > .field-wrapper {
  margin: 0 15px 0 0;
}
.field-wrapper.button-field .button-wrapper .button-settings .dashicons {
  width: 28px;
  height: 28px;
  background: #eee;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}
.field-wrapper.button-field .button-wrapper .button-settings .dashicons:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
}
.field-wrapper.button-field .button-wrapper .type-sub-menu {
  position: absolute;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-bottom: -10px;
  display: none;
}
.field-wrapper.button-field .button-wrapper .type-sub-menu.active {
  display: block;
}
.field-wrapper.button-field .button-wrapper .type-sub-menu:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 100%;
  right: 6px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}
.field-wrapper.button-field .button-wrapper .type-sub-menu .type-select {
  position: relative;
  top: auto;
  right: auto;
}
.field-wrapper.button-field .button-wrapper .type-sub-menu label {
  color: white;
}
.field-wrapper.button-field .button-wrapper .chosen-container {
  width: 100% !important;
}

.repeatable .button-field {
  margin-right: 0 !important;
  float: none !important;
  width: 100% !important;
}

/**
 * Site settings:
 */
#tab-menus .subfield-wrapper {
  display: block;
  width: 100%;
}

.mce-fullscreen #adminmenu {
  display: none;
}

/**
 * Section view settings:
 */
.section-wrapper .section-controls .radio > span.three-columns-left, .section-wrapper .section-controls .radio > span.valthree-columns-left {
  background: url("../images/three-columns-left.png");
}
.section-wrapper .section-controls .radio > span.three-columns-middle, .section-wrapper .section-controls .radio > span.valthree-columns-middle {
  background: url("../images/three-columns-middle.png");
}
.section-wrapper .section-controls .radio > span.three-columns-right, .section-wrapper .section-controls .radio > span.valthree-columns-right {
  background: url("../images/three-columns-right.png");
}
.section-wrapper .section-controls .radio > span label {
  text-indent: -9999px;
}

#tab-menus .menu-img-container {
  width: 100%;
  height: 170px;
  background: url("../images/menu-1.png") no-repeat top center;
  background-position: 100% auto;
}
#tab-menus .menu-img-container.menu-2 {
  background-image: url("../images/menu-2.png");
}
#tab-menus .menu-img-container.menu-3 {
  background-image: url("../images/menu-3.png");
}
#tab-menus .menu-img-container.menu-4 {
  background-image: url("../images/menu-4.png");
}
#tab-menus .menu-img-container.menu-5 {
  background-image: url("../images/menu-5.png");
}
#tab-menus .menu-img-container.menu-101 {
  background-image: url("../images/menu-101.png");
  width: 30%;
  height: 450px;
  background-position: top left;
  background-size: auto 100%;
  margin-bottom: 15px;
}
#tab-menus .menu-img-container.menu-101 + .field-wrapper.select {
  float: right;
  margin: -450px 0 0 0;
  width: 90%;
  right: 0;
}

/**
 * Icon field
 */
.svg_img {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  margin-right: 10px;
}
.svg_img.fill {
  fill: #444;
  stroke: transparent;
}
.svg_img.stroke {
  fill: transparent;
  stroke: #000;
}

.svg_img + span {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.icon-dropdown .chosen-container-single .chosen-single {
  height: 35px !important;
}

.icon-dropdown .chosen-container-single div b {
  background-position: 0px 7px;
}

.section-columns .column .lightbox .icon-dropdown .chosen-container,
.section-columns .column .lightbox .icon-dropdown .chosen-container .chosen-single,
.section-columns .column .lightbox .icon-dropdown .chosen-container .chosen-drop {
  width: 100% !important;
}

.icon-dropdown .chosen-container-single .chosen-single > span,
.icon-dropdown .chosen-container .chosen-results li {
  display: flex;
}

/* Tag image */
.chose-image {
  width: 55px;
  max-height: 55px;
  padding: 2px 5px 3px 0px;
  vertical-align: middle;
}

.chose-image.rtl {
  padding: 2px 0px 3px 5px;
}

/* Image for Single mode */
.chose-image-small {
  width: 16px;
  max-height: 16px;
  vertical-align: middle;
  margin: -3px 3px 0 0;
}

.chose-image-small.rtl {
  margin: -3px 0 0 3px;
}

/* Images appended to the li(s) */
.chose-image-list {
  width: 16px;
  max-height: 16px;
  vertical-align: middle;
  margin: -3px 3px 0 0;
}

.chose-image-list.rtl {
  margin: -3px 0 0 3px;
}

/* Grey-out image for Multi mode */
.chosen-container-multi .result-selected img {
  opacity: 0.3;
}

.settings-panel.sizes.active {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.settings-panel.sizes.active h2 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 100%;
  -moz-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
.settings-panel.sizes.active .field-wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 20%;
  -moz-flex: 1 0 20%;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  max-width: 23.5%;
}

#main-section-container .section-container .tabbed-sections .section-sortables .tab > .pin, #main-section-container .section-container .tabbed-sections .section-sortables .section-placeholder {
  background: #ddd;
  color: #444;
}

.section-tab-settings-btn {
  display: none !important;
}

.lightbox .field-wrapper .subfield-wrapper.hidden {
  display: none;
}

.lightbox .slidertime {
  margin-top: -31px;
  background: #F8F8F8;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.settings-panel.design.active {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.settings-panel.design.active h2 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 100%;
  -moz-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
.settings-panel.design.active .field-wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 40%;
  -moz-flex: 1 0 40%;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  max-width: 47.5%;
}
.settings-panel.design.active .field-wrapper .image-field {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.settings-panel.design.active .field-wrapper .image-field .img-wrapper {
  width: 50px;
  height: 50px;
  margin: 0 30px 0 0;
}
.settings-panel.design.active .field-wrapper .image-field .img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
.settings-panel.design.active .field-wrapper .image-field .btn-wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.settings-panel.design.active .field-wrapper .image-field .btn-wrapper .remove-img-source {
  padding-top: 0;
}

.slidertime {
  text-align: left;
}
.slidertime input {
  width: 80% !important;
  padding: 0 10px !important;
  display: inline-block;
}
.slidertime::after {
  content: 'ms';
  width: 10%;
  display: inline-block;
  padding-left: 3px;
}

/**
 * Broadcast notices:
 */
#threewp_broadcast.postbox .custom_fields {
  display: none;
}

.broadcast-notice {
  padding: 5px 15px 5px 30px;
  border-left: 6px solid crimson;
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  display: block;
  margin-top: 30px;
}
.broadcast-notice h3 {
  color: crimson;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.broadcast-notice p {
  max-width: 600px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.broadcast-child {
  opacity: .6;
}
.broadcast-child.media-page {
  display: none;
}

/*# sourceMappingURL=admin.css.map */
